.container{
	background-image: url("/ProjetWeb/application/JPEG/fond-beige.png");
	border-radius: 15px;
	height: auto;
	margin-bottom: 5%;
	padding-bottom: 1%;
}

.form-inline{
	padding-left: 2%;
}

.row{
	padding-bottom: 3%;
}