.container{
	background-image: url("https://github.com/LouisSoleil/ProjetWeb/blob/master/application/JPEG/fond-beige.png");
	border-radius: 15px;
	height: auto;
	margin-bottom: 5%;
	padding-bottom: 1%;
}


.row{
	padding-bottom: 3%;
	padding-left: 2%;
}

.form-control{
	width: auto;
  }

  $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '0d'
});
  