.container{
	background-image: url("/ProjetWeb/application/JPEG/fond-beige.png");
	border-radius: 15px;
	height: auto;
	margin-bottom: 5%;
}


.col-sm-12{
	text-align: center;
}

@media screen and (max-width: 767px) {
	.sidenav {
	height: auto;
	padding: 15px;
	}
}



