.container{
	text-align: center;
    padding-top: 2%;
    background-image: url("/ProjetWeb/application/JPEG/fond-beige.png");
    border-radius: 5px;
}

.form-group{
    color: #873600;
    text-align: left;
}

body{
	background-image: url("/ProjetWeb/application/JPEG/bargood.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
